/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #404640;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
}

.bio {
    max-width: 600px;
    text-align: center;
}

.projects {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #454945;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
    .profile-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bio {
        text-align: left;
        max-width: none;
    }

    .project-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project {
        width: 48%;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 40px;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
    }

    .project {
        width: 30%;
    }
}
